<form class="example-form" (ngSubmit)="submit()">
  <form>
    <!-- <mat-form-field class="example-full-width">
      <input matInput placeholder="Description" [(ngModel)]="Description" name="Description" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Description" [(ngModel)]="Description" name="Description" />
    </mat-form-field> -->
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Description" [(ngModel)]="Description" name="Description" />
    </mat-form-field>
  </form>
  <mat-form-field>
    <mat-label>Urgency level</mat-label>
    <mat-select [(ngModel)]="urgency" name="urgency" ngDefaultControl>
      <mat-option *ngFor="let u of urgencySer.urgencyLevelList" [value]="u.urgencyName">
        {{u.urgencyName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <input type="submit" value="Submit">
</form>