/* import the required JSAPI css */
@import url('https://js.arcgis.com/4.12/esri/css/main.css');

.esri-view {
  height: 500px;
}
.header {
  padding: 80px;
  text-align: center;
  background: #1abc9c;
  color: white;
  
}


.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #d81212;
  padding: 20px;
} 
.main {  
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
} 