table{
    width:100%
  }
  example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

