<div *ngIf="logMalfunctionSer.malfunctionComponent==null">there is no logMalfunctions to show</div>

<form *ngIf="logMalfunctionSer.malfunctionComponent">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"><a [routerLink] (click)="clickedInsertLog(element)">Add an update</a></td>
    </ng-container>
    <ng-container matColumnDef="malfunctionDescription">
      <th mat-header-cell *matHeaderCellDef> malfunctionDescription </th>
      <td mat-cell *matCellDef="let element"> {{element.malfunctionDescription}} </td>
    </ng-container>
    <ng-container matColumnDef="componentName">
      <th mat-header-cell *matHeaderCellDef> componentName </th>
      <td mat-cell *matCellDef="let element"> {{element.componentName}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <!-- <button mat-flat-button color="accent" (click)="clickedInsertLog()">add update to log malfunction</button> -->
  <!-- <span>{{changedRadio?.name}} !!! {{changedRadio?.id}}</span> -->
</form>
<!-- <form class="example-form" (ngSubmit)="submit()" *ngIf="o==true">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="description" [(ngModel)]="description" name="description" />
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>log Malfunction Status</mat-label>
    <mat-select [(ngModel)]="status" name="status" ngDefaultControl>
      <mat-option *ngFor="let u of MalfunctionStatusSer.malfunctionStatusList" [value]="u.malfunctionStatusName">
        {{u.malfunctionStatusName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
  </mat-form-field>
  <button type="submit" mat-flat-button color="accent">Submit</button>
</form> -->