<table style="width: 100%; border: 1px;" class="table">
  <tr>
    <th><label>id</label></th>
    <th><label>name</label></th>
    <th><label>role</label></th>
  </tr>
  <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
    <tr *ngFor="let x of resList">
      <td>
        <mat-radio-button class="example-radio-button" [value]="x" (change)="change(x)"></mat-radio-button>
      </td>
      <td>{{x.id}}</td>
      <td>{{x.name}}</td>
      <td>{{x.role}}</td>
    </tr>
  </mat-radio-group>
</table>
<button mat-button (click)="ok()">ok</button>