<router-outlet></router-outlet>
<!-- <app-server-center></app-server-center> -->
<!-- <app-log-malfunction></app-log-malfunction> -->
<!-- <app-manager></app-manager> -->
<!-- [center]="mapCenter"
[basemap]="streets"
[zoom]="mapZoomLevel"
(mapLoadedEvent)="mapLoadedEvent($event)" -->
<!-- <app-login></app-login> -->