button{
    color: antiquewhite;
}
.wrap{
  width: 50%;
  margin: auto;
  padding-top: 0px;
  margin-top: 200px;
  text-align: center;
}
.wrap-example{
  border: 1px solid crimson; 
  padding: 30px;
  border-radius: 8px;
}
.conect{
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid crimson;
  font-size: 17px;
  font-weight: bold;
}