<!-- <mat-tab-group dir="rtl">
    <mat-tab label="Map"><app-esri-map></app-esri-map></mat-tab>
    <mat-tab label="Manager" *ngIf="loginSer.currentUser.roleId==3"><app-manager></app-manager></mat-tab>
    <mat-tab label="Service Center" *ngIf="loginSer.currentUser.roleId==2"><app-server-center></app-server-center></mat-tab>
</mat-tab-group> -->
<div dir="rtl">
<nav mat-tab-nav-bar >
    <div *ngFor="let link of navLinks">
    <a mat-tab-link *ngIf="link.label=='maps'||loginSer.currentUser.roleId==3&&link.label=='menager'||loginSer.currentUser.roleId==2&&link.label=='service center'"
    [routerLink]="link.link"
    routerLinkActive #rla="routerLinkActive"
    mat-tab-link
    [active]="rla.isActive" 
    >
    {{link.label}}
    </a>
</div>
</nav>
<router-outlet></router-outlet>
</div>
<!--  *ngIf="loginSer.currentUser.roleId==3&&link.label=='menager'||loginSer.currentUser.roleId==2&&link.label=='service center'" -->
